<div class="row metro breadcrumbs">
  <div class="col-sm-12">
    <h2>
      <a href="/admin">Admin</a> > 
      <a href="javascript:;"><%= client.name %></a>
    </h2>
  </div>
</div>


<h1><%= client.name %></h1>

<div class="row">
	<div class="col-md-6">


		<table class="table table-hover app-info-table">
			<tbody>
				<tr>
					<td>Client ID</td>
					<td><%= client.clientId %></td>
				</tr>
				<tr>
					<td>Client Secret</td>
					<td><%= client.clientSecret %></td>
				</tr>
				<tr>
					<td>Access Tokens</td>
					<td><%= tokenCount %><a href="javascript:;" data-client="<%= client.id %>" class="revoke-token-link pull-right">revoke</a></td>
				</tr>
				<tr>
					<td>Redirect URI</td>
					<td><%= client.redirectURI %></td>
				</tr>
				<tr>
					<td>Login procedure</td>
					<td><%= client.login %></td>
				</tr>
				<tr>
					<td>Authentification strategy</td>
					<td><%= client.strategy %></td>
				</tr>
				<tr>
					<td>IE integration</td>
					<td><%= client.ie %></td>
				</tr>
				<tr>
					<td>Everyone permission</td>
					<td><%= client.everyone %></td>
				</tr>
			</tbody>
		</table>

	</div>


	<div class="col-md-6">
		<%- partial('./partials/client.sidebar.ejs') %>
	</div>

</div>


<script type="text/javascript">
	window.addEventListener('load', function () {
		$('.revoke-token-link').on('click', function (e) {
			e.preventDefault();
			var client = $(this).attr('data-client');
			$.post('/admin/revoke-token', { client: client }, function (response) {
				if (response.status == 'ok') {
					window.location.reload();
				}
			})
		})
	})
</script>











