<div class="row metro breadcrumbs">
  <div class="col-sm-12">
    <h2>
      <a href="/admin">Admin</a> > 
      <a href="javascript:;">Applications</a>
    </h2>
  </div>
</div>


<div class="col-md-12">

  <fieldset>
  	<legend>
		Apps
		<a href="/admin/client/new" class="pull-right">
			<i class="fa fa-plus-circle"></i>&nbsp;new application
		</a>		
  	</legend>
  </fieldset>		
<!-- 	<h3>
		Applications
		<a href="/admin/client/new" class="add-link">
			<i class="fa fa-plus-circle"></i>&nbsp;new client application
		</a>		
	</h3>
 -->
	<div class="metro">
	<% clients.forEach(function (client) { %>
		<a href="/admin/client/dashboard/<%= client.id %>">
			<div class="tile bg-cyan">
			  <div class="tile-content icon">
			  	<i class="<%= client.icon %>"></i>
			  </div>
			  <div class="tile-status">
			    <span class="name"><%= client.name %></span>
			  </div>
			</div>
		</a>	
	<% }) %>
	</div>

</div>









<!-- <div class="col-md-6">
	<h2><%= __('Client.Table') %></h2>
	<table class="table table-hover">
		<caption>
			<a href="/admin/client/new" class="pull-right">new client application</a>
		</caption>
		<thead>
			<tr>
				<th><%= __('Client.Name') %></th>
				<th><%= __('Client.RedirectURI') %></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<% clients.forEach(function (client) { %> 
			<tr>
				<td><%= client.name %></td>
				<td><%= client.redirectURI %></td>
				<td>
					<a href="/admin/client/dashboard/<%= client.id %>"><%= __('Launch') %></a>
				</td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>
 -->















