  <div class="col-md-6">

    <form action="/admin/user/update" method="post" data-parsley-validate="">
      <fieldset>
        <legend>Create a new local user</legend>

          <input type="hidden" name="id" value="<%= user.id %>"/>

          <div class="form-group">
            <label for="displayName"><%= __('User.DisplayName') %></label>
            <input type="text" 
                   class="form-control" 
                   id="displayName" 
                   required=""
                   value="<%= user.displayName %>"
                   name="displayName"/>
          </div>

          <div class="form-group">
            <label for="account"><%= __('User.Account') %></label>
            <div class="input-group">
              <input type="text" 
                     class="form-control" 
                     id="account" 
                     required=""
                     value="<%= user.account %>"
                     name="account"/>
              <span class="input-group-addon">
                @<%= sails.settings.LOCAL_DOMAIN %>
              </span>
           </div>
          </div>

      </fieldset>

      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/admin/user" class="btn btn-default">Cancel</a>
      </div>

    </form>
  </div>