  <div class="col-md-6">

    <form action="/admin/user/update" method="post" data-parsley-validate="">
      <fieldset>
        <legend>Create a new local user</legend>

          <input type="hidden" name="id" value="<%= user.id %>"/>

          <div class="form-group">
            <label for="displayName"><%= __('User.DisplayName') %></label>
            <input type="text" 
                   class="form-control" 
                   id="displayName" 
                   required=""
                   value="<%= user.displayName %>"
                   name="displayName"/>
          </div>

          <div class="form-group">
            <label for="account"><%= __('User.Account') %></label>
            <div class="input-group">
              <input type="text" 
                     class="form-control" 
                     id="account"
                     disabled="disabled" 
                     required=""
                     value="<%= user.account %>"
                     name="account"/>
              <span class="input-group-addon">
                @<%= sails.settings.LOCAL_DOMAIN %>
              </span>
           </div>
          </div>

        <div class="form-group">
          <a href="javascript:;" data-id="<%= user.id %>" id="changePassword">change user password</a>
        </div>

      </fieldset>

      <div class="pull-right">
        <a href="javascript:;" id="deleteUserButton" data-id="<%= user.id %>" class="btn btn-danger">Delete</a>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/admin/user" class="btn btn-default">Cancel</a>
      </div>

    </form>
  </div>



  <script type="text/javascript">
  window.addEventListener('load', function () {
    $('#deleteUserButton').on('click', function (e){
      e.preventDefault();
      if (window.confirm('Are you sure you want to delete this local user')) {
        var id = $(this).attr('data-id');
        $.ajax({
          url: '/user/' + id,
          type: 'DELETE',
          success: function (response) {
            window.location.href="/admin/user";
          }
        })
      }
    });

    $('#changePassword').on('click', function (e) {
      e.preventDefault();
      var id = $(this).attr('data-id');
      var password = window.prompt('Enter the new password');

      if (password) {
        $.ajax({
          url: '/user/' + id,
          type: 'PUT',
          data: {
            password: password,
          },
          success: function (response) {
            window.location.href="/admin/user";
          }
        })

      }
    })


  })

  </script>














